body{
    background-color: rgb(148, 116, 73);
    margin: 10px;
    
}

#banner{
    width: 100%;
    height: 370px;
    border-radius: 10px;

}

.principal{
    padding: 30px;
}

h1,h2,p{
    text-align: center;
    
}

p{
    font-size: 18px;
}

em strong{
    color: rgb(117, 16, 16);
}

#paragrafo2{
    font-size: 20px;
}

.beneficios{
    padding: 20px;
}

ul{
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;  
}

.img-beneficios{
    width: 40%;
    height: 280px;
    border-radius: 10px;
    margin-left: 80px;
}

.item{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    align-content: flex-end;
}

